@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #023051;
  --color-primary-50: #f0f7fb;
  --color-primary-100: #dceef6;
  --color-primary-200: #bce0ef;
  --color-primary-300: #8fcbe5;
  --color-primary-400: #5db0d6;
  --color-primary-500: #3a96c1;
  --color-primary-600: #297ca6;
  --color-primary-700: #226487;
  --color-primary-800: #1f5471;
  --color-primary-900: #023051;
  --color-primary-950: #12344a;
  --color-primary-hover: var(--color-primary-600);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}